.main{
  border: 2px solid blue;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
h3{
  color: red;
}
a{
  color: brown;
  font-size: 40px;
  word-wrap: break-word;
}
.left{
  border: 2px solid brown;
  padding: 2%;
  margin: 2%;
  width: 30%;
  text-align: center;
}
#name{
  color: purple;
  font-size: 30px;
  text-align: center;
}
#phno{
  color: red;
  font-size: 30px;
  text-align: center
}
.left img{
  width: 50%;
  border-radius: 80%;
  border: 2px solid green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.right{
  border: 2px solid green;
  padding: 2%;
  margin: 2%;
  width: 70%;
}
@media only screen and (min-width: 0px) and (max-width: 480px){
  .main{
    border: 2px solid blue;
    padding: 2%;
    display: flex;
    width: 100;
    flex-direction: column;
  }
  h3{
    color: red;
  }
  a{
    color: brown;
    font-size: 40px;
    word-wrap: break-word;
  }
  .left{
    border: 2px solid brown;
    padding: 2%;
    margin: 2%;
    width: 90%;
    text-align: center;
    background-color: skyblue;

  }
  #name{
    color: purple;
    font-size: 30px;
    text-align: center;
  }
  .table1{
    width: 90%;
    overflow-x: auto;
  }
  #phno{
    color: red;
    font-size: 30px;
    text-align: center
  }
  .left img{
    width: 50%;
    border-radius: 80%;
    border: 2px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right{
    border: 2px solid green;
    padding: 2%;
    margin: 2%;
    background-color: skyblue;
    width: 90%;
  }

}
@media only screen and (min-width: 481px) and (max-width: 768px){
  .main{
    border: 2px solid blue;
    padding: 2%;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  h3{
    color: red;
  }
  a{
    color: brown;
    font-size: 40px;
    word-wrap: break-word;
  }
  .left{
    border: 2px solid brown;
    padding: 2%;
    margin: 2%;
    width: 40%;
    text-align: center;
    background-color: yellow;

  }
  #name{
    color: purple;
    font-size: 30px;
    text-align: center;
  }
  .table1{
    width: 90%;
    overflow-x: auto;
  }
  #phno{
    color: red;
    font-size: 30px;
    text-align: center
  }
  .left img{
    width: 50%;
    border-radius: 80%;
    border: 2px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right{
    border: 2px solid green;
    padding: 2%;
    margin: 2%;
    background-color: yellow;
    width: 40%;
  }

}
